/* body{
    padding-right: 200px;
    padding-left: 200px;
} */

.hero {
    text-align: center;
    background-color: lightgray;
    /* margin: 50px; */
    padding: 200px;
    border-radius: 10px;
}